<div class="container">
	<div class="alert alert-success">
	  <strong>Payment has been done successfully !!</strong> <br/>
	</div>
	 <%= link_to 'OK' , homepage_path , class: "btn-lg btn-success"%>
	</div>




