<div class="container">
      <div class="card">
       <h1>My Cart</h1>
       <% if @carts.present? %>
	       <% @carts.each do |cartObj|%>
	            <% @product_category=ProductCategory.find(cartObj.product_category_id)%>
	            <b><%=@product_category.name %></b><br/>
	            Quantity:- <%= cartObj.quantity%><br/>
	            Net Price:- <%=cartObj.net_price %><br/>
	            Buy Date:- <%=cartObj.buy_date%><br/><hr>
	        <% end %>
	    <% else %>
	    	<p>Your Cart is Empty!!!!</p>
	    <% end %>
 </div>
</div>

