<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/assets/images/logo6.png">
      <span style="font-size:30px; font-style: italic;">Online Shopping</span>
       <span style="font-size:20px">Admin Dashboard</span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        
        <li><a><span class="glyphicon glyphicon-user green"></span><span>Welcome <%= current_user.firstname%></span></a></li>
        <li><a href="/products/index"><span class="glyphicon glyphicon-home green"></span>Home</a></li>
        <li><a href="/users/edit"><span>Edit</span></a></li>
        <li><a href="/users/sign_out" onclick="return confirm('Are you sure?')"><span>Logout</span></a></li>
      </ul>
    </div>
  </div>
</nav>
