/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container{
    padding-top: 40px;

}
 .flash-messages{

   margin-top: -5%;
    margin-left: 40%;
    margin-bottom: -6%;
 }
.notice{
    width: 60%;
    color: green;
    size: 43%;
    font-style: italic;
     font-size: 18px;
}
.alert{
    width: 60%;
    color: green;
    size: 43%;
    font-style: italic;
     font-size: 18px;
}
.input-group{
    width:60%;
    margin-left: 19%;
}
.card{
    background-color: #e2e2e2;
    border-color: #5cb85c;
        width: 60%;
    margin-left: 21%;
    padding-left: 8%;
    padding-top: 1%;
}
.input-group{
    padding-top: 3%;
}

.form-control{
    width: 10%;
    height: 51px;
    padding-left: 46px;
 }
 
 .navbar{
 min-height: 60px;
 }
 
.form-control-feedback {
	position: absolute;
    top: 0;
    /* right: 0; */
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.well{
    height: 50%;
}
.navbar-inverse{
    background-color: #2874f0;
    font-size: 20px;
    font-style: initial;
    color: #ffffff;
    /*background-color: #2874F0;*/
}
.navbar{
    position: relative;
        min-height: 70px;
        margin-bottom: 20px;
        padding-top: 6px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    height: 45px;
    }

.nav-tabs>li>a {
 
    border: 1px solid transparent;
    font-size: 20px;
    color: #5cb85c;
    padding-left: 60px;

}
.search-bar{
   margin-top: 6%;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
    height: 51px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    margin-left: -1px;
    height: 51px;
    width: 100px;
}
.slidebar{
    margin-top: 4%;
    margin-bottom: 5%;
}
.message{
    color: #FF0000;
}
input[type=text], input[type=password], input[type=email]{
    width: 50%;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}