// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input-group{
    width:60%;
    margin-left: 19%;
}
.card{
    background-color: #e2e2e2;
    width: 50%;
    margin-left: 24%;
    padding-left: 5%;
    border-radius: 3%;
    padding-top: 1%;
    
}
.input-group{
    padding-top: 3%;
}

.form-control{
 	width: 600%;
 }
 
 .navbar{
 min-height: 60px;
 }

 