<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand"><span style="font-size:30px">Shopping Cart</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
        
      </ul>


        <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/user/index">Home</a></li>
        <li><a href="/users/sign_in"><span>Login</span></a></li>
        <!-- <li><a href=" /users/sign_up"><span>Signup</span></a></li> -->
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-shopping-cart"><div id="card_count"></div></span> Cart</a></li>
       
        
      </ul>
    </div>
  </div>
</nav>
