<div class="row">
    <div class="col-sm-1">
        <div class="dropdown"> 
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
            </ul> 
            </div>
        </div>

        <div class="col-sm-1">
            <div class="dropdown"> 
            <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Tutorials1
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a role="menuitem" tabindex="-2" href="#">A1</a></li>
            <li><a role="menuitem" tabindex="-2" href="#">A2</a></li>
            <li><a role="menuitem" tabindex="-2" href="#">A3</a></li>
            </ul>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="dropdown"> 
            <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Tutorials2
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a role="menuitem" tabindex="-2" href="#">A11</a></li>
            <li><a role="menuitem" tabindex="-2" href="#">A22</a></li>
            <li><a role="menuitem" tabindex="-2" href="#">A33</a></li>
            </ul>
            </div>
        </div>
</div>
